@{
    ViewData["Title"] = "Add a Dish";
}
@model Dish

<div class="text-center">
    <h1>Add a Dish</h1>
    <hr>
    <form asp-action="CreateDish" asp-controller="Dish" method="post"
        class="d-flex flex-column gap-5 align-items-start">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name">
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Calories"></label>
            <input asp-for="Calories">
            <span asp-validation-for="Calories"></span>
        </div>
        <div>
            <label asp-for="ChefId"></label>
            <select asp-for="ChefId">
                @{
                    foreach (Chef c in ViewBag.chefs)
                    {
                        <option value="@c.ChefId">@c.FirstName @c.LastName </option>
                    }
                }
            </select>
            <span asp-validation-for="ChefId"></span>
        </div>
        <div>
            <label asp-for="Tastiness"></label>
            <select asp-for="Tastiness">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="Tastiness"></span>
        </div>
        <button type="submit">Add</button>
    </form>
</div>