@model Product

<form asp-action="CreateProduct" asp-controller="Home" method="post" class="d-flex flex-column gap-5 align-items-start text-start mt-5">
    <div>
        <label asp-for="Name"></label>
        <br>
        <input asp-for="Name">
        <br>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <br>
        <input asp-for="Description">
        <br>
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="Price"></label>
        <br>
        <input asp-for="Price">
        <br>
        <span asp-validation-for="Price"></span>
    </div>
    <button type="submit" class="btn btn-outline-primary">Create</button>
</form>