@{
    ViewData["Title"] = "Home Page";
}
@model Dish

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <div class="d-flex justify-content-center">
        <p>Home | </p>
        <a asp-action="Add" asp-controller="Home" class="ms-1">Add A Dish</a>
    </div>
    <p class="mt-5">Check out some recent dishes</p>
    <hr>
    @{
        foreach(Dish d in ViewBag.AllDishes)
        {
            <p><a asp-controller="Home" asp-action="ShowDish" asp-route-id="@d.DishId">@d.Name</a> by @d.Chef</p>
        }
    }
</div>
