<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Contact</title>
</head>

<body>
    <nav>
        <a href="http://localhost:5075">Home |</a>
        <a href="http://localhost:5075/projects">Projects |</a>
        <a href="http://localhost:5075/contact">Contact</a>
    </nav>
    <h1>Contact Me!</h1>
    <div class="formFlex">
        <form>
            <label for="name">Name:</label>
            <br>
            <input type="text">
            <br>
            <br>
            <label for="email">Email:</label>
            <br>
            <input type="text">
            <br>
            <br>
            <label for="message">Message:</label>
            <br>
            <textarea name="message" id="" cols="30" rows="10"></textarea>
            <br>
            <br> 
            <button type="submit">Send</button>
        </form>
    </div>
</body>

</html>