<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Home</title>
</head>

<body>
    <nav>
        <a href="http://localhost:5075">Home |</a>
        <a href="http://localhost:5075/projects">Projects |</a>
        <a href="http://localhost:5075/contact">Contact</a>
    </nav>
    <h1>About Me</h1>
    <div class="flex">
        <div class="flex1">
            <img src="~/images/img-ixjkqmsvge43otbdj6grbaxy.png" alt="giga kyle" width="300">

            <p>Giga Kyle</p>
            <p>Giga Kyle is all, all is Giga Kyle</p>
        </div>
        <p class="flex-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et ipsa nesciunt alias nisi optio distinctio a neque eligendi sint dolor vero laudantium sequi vitae, officiis autem itaque iure consequuntur repellat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo commodi consequatur harum mollitia aliquid eos? Tempora doloremque ut cupiditate, sint aut ex accusantium odit nisi ea aperiam, quia hic earum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, consequatur dignissimos quia, ipsa perferendis minima itaque nam quam expedita cupiditate reprehenderit sapiente provident repellendus nostrum ab totam soluta dolorum architecto!</p>
    </div>
</body>

</html>