<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    @{
        string name = "Blake";
    }
    <h1>Hello from our first cshtml file! @name </h1>
    <h2>@ViewBag.dog is a good boy.</h2>
    <img src="~/images/img-ixjkqmsvge43otbdj6grbaxy.png" alt="giga kyle" width="400">


    @for (int i = 0; i <= 5; i++)
    {
        <p>The number is @i</p>
    }
    <form action="process" method="post">    
    <input type="text" name="TextField"/>    
    <input type="number" name="NumberField"/>    
    <input type="submit" value="Submit"/>
</form>
</body>

</html>